{% extends 'base.html.twig' %}

{% block title %}Hello WeatherForecastController!{% endblock %}

{% block body %}

<h1>Forecast for {{ api.city.name }} : </h1>

<div class="week-forecast">
    <ul class="no-padding no-margin">
        {% for key, day in  daily %}
            {% if key > 0 %}
                {% set info = {'data': day} %}
                    <li class="no-padding no-margin">
                        {% include '/partials/forecast-day.html.twig' with info %}
                    </li>
            {% endif %}
        {% endfor %}
    </ul>

</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
