/* ########### css variables ############### */

:root {
    --main-bg-color : #8FDDF3;
    --main-color : #ffffff;
    --main-content-width: 80%;
    --main-nav-width: 18%;
    --main-margin-top: 20px;
    --background-image: url("https://flexmail.be/frontend/web/uploads/img/cache/Sliders/Slider1/69ca3e5d58-3_1920x700.png");
    --main-day-block-color : #84D8F1;
}


/* ########### general ############### */

body {
    background-color: var(--main-bg-color);
    color : var(--main-color);
}

header
{
    background: var(--background-image) left repeat-x;
    width: 100%;
    height: 700px;
    border:1px solid green;
}

nav {
    float:left;
    min-width: var(--main-nav-width);
    position: relative;
    z-index: 1;
    left:10px;
    top: var(--main-margin-top);
}

section.content
{
    position: relative;
    float:right;
    width: var(--main-content-width);
    top: var(--main-margin-top);
}

.no-margin
{
    margin:0;
}

.no-padding
{
    padding:0;
}

h4.title
{
    padding:20px;
}

/* ########### navigation ############### */

.nav-wrapper
{
    border:1px solid #FFFFFF;
    max-width: 200px;
    padding: 20px;
}

a:link, a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #89a53f;
    text-decoration: none;
}

ul.logo-nav
{
    list-style: none;
    text-align: left;
}






/* ###########  config form ############### */
div.form-layout
{
    max-width:60%;
    border:1px solid #FFFFFF;
    padding: 20px;
}

span.error-layout
{
    color:red;
    font-size: larger;
}

/* ###########  forecats : index ############### */

div.week-forecast
{
    max-width:80%;
    /*border: 1px solid red;*/
}

div.week-forecast>ul
{
    padding-top:40px;
    list-style-type: none;
}

div.week-forecast>ul>li
{
    display: inline-block;
    height: 400px;
    width: 140px;
    border: 1px solid #ffffff;
    position:relative;
    margin-right:4px;
}

div.day
{
    border: 1px solid #ffffff;
    text-align: center;
    padding:1px;
}

.rain
{
    position: relative;
}

.rain:after
{
    content:'';
    background-image: url("../../public/img/weather/rain.gif") ;
    background-size: 100% 100%;
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
}

.partly-cloudy-day
{
    position: relative;
}

.partly-cloudy-day:after
{
    content:'';
    background-image: url("../../public/img/weather/partly-cloudy.png") ;
    background-size: 100% 100%;
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    opacity: 0.2;
}
.cloudy
{
    position: relative;
}

.cloudy:after
{
    content:'';
    background-image: url("../../public/img/weather/cloudy.png");
    background-size: 100% 100%;
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    opacity: 0.2;

}

/* ###########  forecats : day ############### */
section.day-container
{
    width: 100%;
    height:100%;
}

ul.weather-detail
{
    list-style-type: none;
    border: 1px solid red;
    width: 100%;
    height:92%;
}

span.partly-icon
{
    background-image: url("../../public/img/weather/partly-clouded-icon.png");
    width:40px;
    height:40px;
}

li.sun
{
    background-image: url("../../public/img/weather/sun.png");
    background-size: 100% 100%;
    width:40px;
    height:40px;
    position: relative;
    left: 35%;
    z-index: 1;
}

li.daily-info
{
    font-size: small;
}

div.fifty
{
    width: 49%;
    text-align: center;
    display: inline-block;
    float:left;
}