<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Flexmail assignment : {%- block pagetitle -%}{%- endblock -%}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                {{ knp_menu_render('main', {'template':'menu/knp_menu.html.twig'}) }}
            </nav>
            <section class="content">
                {% block body %}

                {% endblock %}
            </section>
        </header>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
