{% extends 'base.html.twig' %}

{% block title %}Hello WeatherHistoryController!{% endblock %}

{% block body %}

    <h1>30 days history from : {{ api.city.name }}</h1>

    <div class="week-history">
        <table class="no-padding no-margin history ">
            <thead>
                <tr class="spec-line">
                    <th class="text-center border-right">Date</th>
                    <th class="text-center border-right">Summary</th>
                    <th class="text-center border-right" colspan="2">Sun</th>
                    <th class="text-center border-right" colspan="2">Temp</th>
                    <th class="text-center border-right">Uv</th>
                    <th class="text-center border-right">Ozone</th>
                    <th class="text-center border-right">Humidity</th>
                    <th class="text-center border-right" colspan="2">Wind </th>
                </tr>
            <tr>
                <th class="border-right"></th>
                <th class="border-right"></th>
                <th class="text-center">Rise</th>
                <th class="text-center border-right">Set</th>
                <th class="text-center">Min.</th>
                <th class="text-center border-right">Max.</th>
                <th class="border-right"></th>
                <th class="text-center border-right">DU</th>
                <th class="text-center border-right">%</th>
                <th class="text-center">Speed (KmH)</th>
                <th class="text-center border-right">Direction (°)</th>

            </tr>
            </thead>
            <tbody>
            {% for daydata in data %}
                <tr class="no-padding no-margin">
                    {% include '/partials/history-day.html.twig' with daydata %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
